body {
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}

.btn-secondary          { color: #D0D0D0; background-color: #787878; border-color: #555; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary
                        { color: #ffffff; background-color: #909090; border-color: #444; }

.mapBackground {
	fill:  #6D7988;
}

.mapBackgroundSelect{
	fill:  #182128;
}

.mapBackgroundHighlight {
	fill: #7e8996;
}

.barFrame {
	position: absolute;
	top: 0%;
	right: 2%;
	width: 27%;
	height: 20%;
}

.timeSlider {
	position: absolute;
	top: 0%;
	left: 2%;
}

.odFrame {
	position: absolute;
	width: 98%;
	bottom: 7%; left: 1%;
	overflow: auto;
	overflow-y: hidden;
}

.odFrameLegend {
	position: absolute;
	bottom: 0%; left: 4%;
}

.choroplethLegend {
	position: absolute;
	top: 8%; left: 2%;
 	background-color: #28303A;
}

.mapBorderHigh {
	stroke-width:2;
	stroke: #7e8996;	
}

.mapBorder {
	stroke-width:2;
	stroke: black;	
}

.Asia {
	fill: #d95f02;
}
.Europe {
	fill: #66a61e;
}
.Africa {
	fill: #7570b3;
}
.America {
	fill: #1b9e77;
}
.Australia {
	fill: #e7298a;
}

.divisor_line {
	stroke-width:3;
	stroke: black;
}

.world1 {
	fill:#edf8fb;
}
.world2 {
	fill:#b2e2e2;
}
.world3 {
	fill:#66c2a4;
}
.world4 {
	fill:#238b45;
}

.odmatrix {
	stroke-width:0.5;
	stroke:rgb(0,0,0)
}

.odHighlight {
	stroke-width:3;
	stroke:#e7298a;	
}

.odmatrix1O {
	fill:#ffffcc;
}
.odmatrix2O {
	fill:#a1dab4;
}
.odmatrix3O {
	fill:#41b6c4;
}
.odmatrix4O {
	fill:#225ea8;
}

.odmatrix1D {
	fill:#ffffd4;
}
.odmatrix2D {
	fill:#fed98e;
}
.odmatrix3D {
	fill:#fe9929;
}
.odmatrix4D {
	fill:#cc4c02;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.c3-axis-y-label {
	font-size: 12px;
	fill: #B5B6B7;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.c3-axis-x-label {
	font-size: 12px;
	fill: #B5B6B7;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.c3-legend-item {
	fill: #B5B6B7;
}

.c3-axis-x {
	fill: #B5B6B7;
}

.c3-axis-y {
	fill: #B5B6B7;
}

.c3 path, .c3 line {
    fill: none;
    stroke: #B5B6B7;
}

.grid-background {
  stroke-width:0.2;
  stroke: white;
}

.brush .extent {
	fill: none;
	shape-rendering: crispEdges;
	stroke-width:4;
	stroke: #b10026;
}

.selectedYear {
	stroke-width:4;
	stroke: #b10026;	
}

.linesMovement {
  animation: flow 1s linear infinite;
  -webkit-animation: flow 1.5s linear infinite;
}

.lines {
  stroke-opacity: 0.8;
  fill: none;
  opacity: 0.8;
}

.flowline {
	fill: rgb(8, 48, 107);
	opacity: 0.5;
}

@keyframes flow {
  from {
    stroke-dashoffset: 35;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 35;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}


