body {
  margin-top: 10;
  font-family: Georgia, serif;
  /*text-align: center;*/
}

p {
    font-size: 0.8em;
    line-height: 1.1em;
}

h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: 300;
    font-size: 2em;
}


svg {
    background: #eee;
    overflow: hidden;
}

.sphere {
    fill: rgb(216,228,246);
    stroke: rgb(0,159,227);
}

.land {
    fill: rgb(255,240,214);
    stroke: rgb(0,159,227);
    vector-effect: non-scaling-stroke;
}

.boundary {
    fill: none;
    stroke: rgb(204,114,117);
    stroke-width: .3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.normalcity {
    fill : red;
    fill-opacity: 1;
    stroke : white;
    stroke-width: 1pt;
    vector-effect: non-scaling-stroke;
    pointer-events: all;
}
.selectedcity {
    fill: blue;
    stroke: blue;
    stroke-width: 8pt;
    stroke-opacity: .5;
    vector-effect: non-scaling-stroke;
    pointer-events: all;
}

.tooltip {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #ddd;
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.65);
    text-shadow: 0 1px 0 #eee;
}

text, body, .tooltip-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    margin-bottom: 3px;
}