
body {
    background-color: lightgray;
    font-family: Helvetica-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
p {
	font-size:10px;
}
.panelTitle {
    font-size: 16px;
    fill: red;
}
div {
	fill: #FF6;
	color: #F36;
}
svg{
	border:none;
    background-color: white;
	padding: 5px;
}
#map{
    width: 550px;
    height: 520px;
    margin: 0;
    padding: 0;
}
.track {
    fill: grey;
    stroke: grey;
    stroke-width: 1.5px;
}
.nostop {
    fill: lightgray    ;
    stroke: none;
}
#svgNormal, #svgTime2Geo, #svgGeo2Time {
    position: absolute;
    left: 580px;
    fill : none;
    stroke : gray;
    stroke-width : .3pt;
}
#svgTime2Geo {
top:192px;
}
#svgGeo2Time {
top:376px;
}
#infoDiv{
    z-index: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 3px;
    background-color: rgb(244, 243, 186);
    opacity: 0.75;
    border: solid 1px red;
    border-radius: 4px;
    font-size : 10px;
    display: none;
}
#infoDiv h1 {
    font-size: 12px;
    font-weight: bold;
}
.timecircle {
    fill : rgb(200,200,255);
    stroke : black;
    stroke-width: .5px;
}
.distancecircle {
    fill : rgb(255,150,150);
    stroke : black;
    stroke-width: .5px;
}
.nocircle{
    display: none;
}
.connectors {
    fill : none;
    stroke : black;
    stroke-width : .1pt;
}
.noconnector {
    display: none;
}
text {
    stroke : none;
    font-family: Arial;
}

.axis text {
    font-family: Arial;
    font-size: 8px;
    fill: gray;
}
.axisNoLabels text {
    font-family: Arial;
    font-size: 0px;
    fill: gray;
}
.axis path, .axis line {
    fill: none;
     stroke : gray;
     stroke-width : .3pt;
    shape-rendering: crispEdges;
}