.map{
stroke: red;
fill: none;
}

.groof{
fill: #fff;
font-family: Arial;
font-size:10px;
}

p {
	font-family: Arial;
	font-size:10px;
}

div {
	fill: #FF6;
	font-family: Arial;
	font-size:12px;
	color: #F36;
}
div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: blue;
	text-align:center;
	margin-right: 2px;
}

svg{
	border-style:dotted;
	border-width: 1px;
	padding: 5px;
}

svg.round {
	border-color: red;
	border-width: 1px;
}

svg.ground {
	border-color: blue;
	stroke-width: 1px;
}

